@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
section, main, .index-caja-chica, .mision-caja-chica, .adoptar img, .sec2-caja-grande, .fotos-caja-chica {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  color: #c71f73;
  background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
}

.contenedor-mision {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
  -ms-grid-rows: 40vh    12vh    80vh    15vh;
      grid-template-rows: 40vh    12vh    80vh    15vh;
  background-color: #d479e9;
      grid-template-areas: "header header" "section    section" "main   aside" "footer footer";
}

.contenedor-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
  -ms-grid-rows: 50vh    12vh    130vh    15vh;
      grid-template-rows: 50vh    12vh    130vh    15vh;
  background-color: #d479e9;
      grid-template-areas: "header header" "section    section" "main   aside" "footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
  background-size: contain;
  padding: 10px;
}

header a {
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #370263;
}

header a:hover {
  color: #2c0936;
  font-size: 20px;
}

header img {
  height: 15%;
  width: 15%;
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
  border-radius: 50%;
}

header .li-nav {
  display: inline;
  padding: 15px;
}

header ul {
  list-style: none;
  text-align: center;
}

.ingresar {
  text-align: right;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
}

section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: section;
  text-align: center;
  padding: 20px;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  text-align: center;
  padding: 10px;
}

aside {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: aside;
  text-align: center;
  padding: 10px;
}

.index-caja-chica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  font-size: 15px;
  text-align: justify;
}

.index-caja-chica img {
  height: 30%;
  width: 40%;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.index-caja-chica img:hover {
  height: 35%;
  width: 45%;
  -webkit-transform: rotatez(10deg);
          transform: rotatez(10deg);
}

.mision-caja-chica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  font-size: 15px;
  text-align: justify;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-size: contain;
  background-repeat: repeat;
  padding: 10px;
  background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
}

.contenedor-adoptar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
  -ms-grid-rows: 35vh    5vh    150vh    30vh;
      grid-template-rows: 35vh    5vh    150vh    30vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-template-areas: "header header" "section    section" "main   main" "footer footer";
}

.contenedor-publicar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
  -ms-grid-rows: 50vh    5vh    200vh    30vh;
      grid-template-rows: 50vh    5vh    200vh    30vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-template-areas: "header header" "section    section" "main   main" "footer footer";
}

.contenedor-seccion2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
  -ms-grid-rows: 35vh    5vh    135vh    15vh;
      grid-template-rows: 35vh    5vh    135vh    15vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-template-areas: "header header" "section    section" "main   main" "footer footer";
}

.adoptar {
  font-size: 40px;
  padding: 30px;
  text-align: center;
}

.adoptar img {
  height: 20%;
  width: 30%;
  padding: 10px;
  -webkit-animation-name: animacion1;
          animation-name: animacion1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animacion1 {
  0% {
    width: 30%;
  }
  50% {
    width: 35%;
  }
  100% {
    width: 38%;
  }
}

@keyframes animacion1 {
  0% {
    width: 30%;
  }
  50% {
    width: 35%;
  }
  100% {
    width: 38%;
  }
}

.espacio p {
  padding: 5px;
}

.espacio-formulario p {
  padding: 5px;
}

h2 {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  padding: 4px;
}

h1 {
  text-align: center;
  font-size: 19px;
  padding: 2px;
}

.contenedor-transitar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
  -ms-grid-rows: 50vh    5vh    100vh    15vh;
      grid-template-rows: 50vh    5vh    100vh    15vh;
      grid-template-areas: "header header" "section    section" "main   main" "footer footer";
}

.form-select {
  height: 5px;
  width: 200px;
}

.fotos-caja-grande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  text-align: end;
  font-size: 8px;
}

.sec2-caja-grande {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 5px;
  text-align: start;
  font-size: 8px;
}

.fotos-caja-chica img {
  height: 180px;
  width: 150px;
  padding: 5px;
}

.fotos-caja-chica p {
  padding: 5px;
  text-align: right;
}

.fotos-caja-chica header {
  background-image: url(images/imagenheader.jpg);
}

.fotos-caja-chica footer {
  background-image: url(images/imagenheader.jpg);
}

@media screen and (max-width: 500px) {
  body {
    font-size: 11px;
  }
  .contenedor-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30vh    10vh   90vh   90vh    20vh;
        grid-template-rows: 30vh    10vh   90vh   90vh    20vh;
        grid-template-areas: "header" "section" "main" "aside" "footer";
  }
  header {
    padding: 0px;
    background-repeat: repeat-x;
    background-size: cover;
  }
  header img {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 25%;
    height: 25%;
  }
  header .li-nav {
    display: list-item;
    padding: 2px;
  }
  .ingresar {
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: opx;
    padding-left: 0px;
  }
  section {
    padding: 5px;
  }
  .index-caja-chica {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
    font-size: 8px;
  }
  .index-caja-chica img {
    height: 33%;
    width: 33%;
    padding: 8px;
  }
  .mision-caja-chica {
    padding: 2px;
    font-size: 8px;
    -webkit-text-size-adjust: initial;
       -moz-text-size-adjust: initial;
        -ms-text-size-adjust: initial;
            text-size-adjust: initial;
  }
  footer {
    padding: 5px;
  }
  .contenedor-mision {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30vh    8vh    20vh   20vh    22vh;
        grid-template-rows: 30vh    8vh    20vh   20vh    22vh;
        grid-template-areas: "header" "section" "main" "aside" "footer";
  }
  .contenedor-adoptar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 35vh    1vh    75vh    15vh;
        grid-template-rows: 35vh    1vh    75vh    15vh;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .contenedor-transitar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 35vh    1vh    50vh    15vh;
        grid-template-rows: 35vh    1vh    50vh    15vh;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .fotos-caja-grande {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    text-align: end;
    font-size: 8px;
  }
  .fotos-caja-grande img {
    height: 180px;
    width: 150px;
    padding: 5px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .fotos-caja-chica p {
    padding: 5px;
    text-align: right;
  }
  .contenedor-seccion2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 35vh    1vh    170vh    15vh;
        grid-template-rows: 35vh    1vh    170vh    15vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .sec2-caja-grande {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    text-align: end;
    font-size: 8px;
  }
  .contenedor-publicar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 50vh    5vh    100vh    30vh;
        grid-template-rows: 50vh    5vh    100vh    30vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
}

@media screen and (max-width: 900px) {
  -mision-caja-chica {
    font-size: 100px;
  }
}

@media screen and (min-width: 800px) and (max-width: 3000px) {
  header .li-nav {
    font-size: 20px;
  }
  .contenedor-mision {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 40vh    8vh    32vh   32vh    15vh;
        grid-template-rows: 40vh    8vh    32vh   32vh    15vh;
        grid-template-areas: "header header" "section section" "main aside" "footer footer";
  }
  .contenedor-adoptar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 40vh    1vh    140vh    15vh;
        grid-template-rows: 40vh    1vh    140vh    15vh;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .contenedor-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 40vh    12vh    130vh    15vh;
        grid-template-rows: 40vh    12vh    130vh    15vh;
        grid-template-areas: "header header" "section    section" "main   aside" "footer footer";
  }
  .contenedor-transitar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 40vh    7vh    55vh    15vh;
        grid-template-rows: 40vh    7vh    55vh    15vh;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .contenedor-publicar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 40vh    5vh    100vh    15vh;
        grid-template-rows: 40vh    5vh    100vh    15vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .contenedor-seccion2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 40vh    5vh    100vh    15vh;
        grid-template-rows: 40vh    5vh    100vh    15vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-areas: "header header" "section    section" "main   main" "footer footer";
  }
  .fotos-caja-chica img {
    width: 200px;
    height: 250px;
  }
  .sec2-caja-grande {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */