@import "./scss/_mediaquerys";
@import "./scss/_index";
@import "./scss/_secciones-extra";
@import "./scss/_formularios";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

%alienacion {
    justify-content: center;
    align-content: center;
    align-items: center;
    }

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$font-color-1:#370263;
$font-color-2: #2c0936;
$font-color-3:#c71f73;

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    color: $font-color-3;
    background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
}

.contenedor-mision{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    12vh    130vh    15vh;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   aside"
    "footer footer";
}

.contenedor-index{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    12vh    120vh    15vh;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   aside"
    "footer footer";
}

header{
    grid-area: header;
    background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
    padding: 10px;
        a{  list-style: none;
    font-weight:bold;
    text-decoration: none;
    transition:all 1s;
    color:$font-color-1;
    }   
        a:hover {
    color: darken($font-color-2, 100%);
    font-size: 20px;
    }
        img {
    width: 15%;
    height: 15%;
    padding-top:0px;
    padding-right: 30px; 
    text-align: left;
    border-radius: 50%;
    }
}  

header  .li-nav {
    display: inline;
    padding: 15px;
}

header  ul {
    list-style: none;
    text-align: center;     
} 

.ingresar {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
}

section{
    grid-area: section;
    text-align: center;
    padding: 20px;
}

main{
    grid-area: main;   
    text-align: justify;
    padding: 10px;
    @extend %alienacion;
}

aside{
    grid-area: aside;
    text-align: justify;
    padding: 10px;
}

footer{
    grid-area: footer;
    padding: 10px;
    background-image: linear-gradient(357deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);  
}

.contenedor-adoptar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    5vh    150vh    15vh;
    flex-wrap: wrap;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

.contenedor-publicar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    5vh    200vh    15vh;
    flex-wrap: wrap;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

.contenedor-seccion2{
        display:grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 50vh    5vh    135vh    15vh;
        flex-wrap: wrap;
        grid-template-areas: 
        "header header"
        "section    section"
        "main   main"
        "footer footer";
    }

.contenedor-transitar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    5vh    100vh    15vh;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

h2{
    padding: 2px;
    text-align: center;
    font-size: 13px;
}
h1{
    text-align: center;
    font-size: 17px;
    padding: 2px;
}


@media screen and (max-width: 900px){
    -mision-caja-chica{
        font-size: 100px;
    }
}
@media screen and (min-width:800px) and (max-width: 3000px){
        header  .li-nav {
         font-size: 20px;
        }
        .contenedor-mision{
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 37vh    8vh    32vh   32vh    22vh;
            grid-template-areas:
            "header"
            "section"
            "main"
            "aside"
            "footer";
        }
        .contenedor-adoptar{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 38vh    1vh    140vh    15vh;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        }
        .contenedor-index{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    12vh    130vh    15vh;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   aside"
            "footer footer";
        }
        .contenedor-transitar{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    7vh    55vh    15vh;
            grid-template-areas:
            "section    section"
            "main   main"
            "footer footer";
        } 
        .contenedor-publicar{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    5vh    100vh    30vh;
            flex-wrap: wrap;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        }
        .contenedor-seccion2{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    5vh    100vh    15vh;
            flex-wrap: wrap;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        }
        .fotos-caja-chica img{
            width: 200px;
            height: 250px;
        }
        .sec2-caja-grande{
            justify-content: center;
        }
    }