@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


@mixin tamaños ($alto,$ancho){
    height: $alto;
    width: $ancho;
}

$cont-small:(
    display: flex,
    padding: 5px,
);

%alienacion {
    justify-content: center;
    align-content: center;
    align-items: center;
    }

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
$background-color-1:#d479e9;
$font-color-1:#370263;
$font-color-2: #2c0936;
$font-color-3:#c71f73;

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    color: $font-color-3;
    background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
}

.contenedor-mision{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 35vh    12vh    130vh    15vh;
    background-color:$background-color-1;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   aside"
    "footer footer";
}

.contenedor-index{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    12vh    130vh    15vh;
    background-color:$background-color-1;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   aside"
    "footer footer";
}

header{
    grid-area: header;
    background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
    background-size: contain;
    padding: 10px;
        a{  list-style: none;
    font-weight:bold;
    text-decoration: none;
    transition:all 1s;
    color:$font-color-1;
    }   
        a:hover {
    color: $font-color-2;
    font-size: 20px;
    }
        img {
    @include tamaños(15%,15%); 
    padding-top:0px;
    padding-right: 30px; 
    padding-left: 30px;
    text-align: left;
    border-radius: 50%;
    }

}  
header  .li-nav {
    display: inline;
    padding: 15px;
}
header  ul {
    list-style: none;
    text-align: center;     
} 

.ingresar {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
}

section{
    grid-area: section;
    text-align: center;
    @extend %alienacion;
    padding: 20px;
}

main{
    grid-area: main;   
    text-align: center;
    @extend %alienacion;
    padding: 10px;
}

aside{
    grid-area: aside;
    text-align: center;
    padding: 10px;
}

.index-caja-chica {
    display: map-get($cont-small, display);
    display:inline;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 40px;
    font-size: 15px;
    text-align: justify;
    @extend %alienacion;
        img{
    @include tamaños(30%,40%); 
    padding: 10px;
    transition: all 1s;
}
        img:hover{
    @include tamaños(35%,45%); 
    transform: rotatez(10deg);
}
}

.mision-caja-chica {
    display: map-get($cont-small, display);
    display:inline;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 40px;
    font-size: 15px;
    text-align: justify;
    @extend %alienacion;
} 

footer{
    grid-area: footer;
    background-size: contain;
    background-repeat:repeat;
    padding: 10px;
    background-image: linear-gradient(58deg, #d479e9 0%, #d4e6e6 46%, #eb7fd2 100%);
}

.contenedor-adoptar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 35vh    5vh    150vh    30vh;
    flex-wrap: wrap;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

.contenedor-publicar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    5vh    200vh    30vh;
    flex-wrap: wrap;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

.contenedor-seccion2{
        display:grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 35vh    5vh    135vh    15vh;
        flex-wrap: wrap;
        grid-template-areas: 
        "header header"
        "section    section"
        "main   main"
        "footer footer";
    }

.adoptar{
    font-size: 40px;
    padding: 30px;
    text-align: center;
        img{
    @include tamaños(20%,30%); 
    padding: 10px;
    @extend %alienacion;
    animation-name:animacion1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    }
}

@keyframes animacion1{
    0%{width: 30%;}
    50%{width: 35%;}
    100%{width: 38%;}
}

.espacio p{
    padding: map-get($cont-small, padding);
}

.espacio-formulario p{
    padding: map-get($cont-small, padding);
}

h2{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

h1{
    text-align: center;
    font-size: 17px;
    padding: 2px;
}

.contenedor-transitar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    5vh    100vh    15vh;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

.form-select{
    @include tamaños(5px,200px); 
}

.fotos-caja-grande{
    display: map-get($cont-small, display);
    flex-direction:row;
    align-content:space-around;
    align-items: center;
    padding: map-get($cont-small, padding);
    text-align: end;
    font-size: 8px;
}

.sec2-caja-grande{
    flex-direction:row;
    display: map-get($cont-small, display);
    padding: map-get($cont-small, padding);
    align-content:space-around;
    @extend %alienacion;
    padding: map-get($cont-small, padding);
    text-align: end;
    font-size: 8px;
}

.fotos-caja-chica {
    @extend %alienacion;
    img{
        @include tamaños(180px,150px); 
        padding: map-get($cont-small, padding);
    }
     p{
    padding: map-get($cont-small, padding);
    text-align:right;
    }
    header{
        background-image: url(images/imagenheader.jpg);
    }
    footer{
        background-image: url(images/imagenheader.jpg);
    }
}

@media screen and (max-width: 500px){
    body {
        font-size: 11px;
    }

    .contenedor-index{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh    10vh   60vh   60vh    20vh;
        grid-template-areas: 
        "header"
        "section"
        "main"
        "aside"
        "footer";
    }

    header{
        padding: 0px;
        background-repeat: repeat-x;
        background-size:cover;
        img {
        text-align: center;
        justify-content: center;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 25%;
        height: 25%;
        }
        .li-nav {
        display:list-item;
        padding: 2px;
    }
    } 

    .ingresar{
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: opx;
        padding-left: 0px;
    }

    section{
        padding: 5px;
    }

    .index-caja-chica {
        padding: 2px;
        font-size: 8px;
        img{
        height: 33%;
        width: 33%;
        padding: 8px;
    }
    }

    .mision-caja-chica {
        padding: 2px;
        font-size: 8px;
        text-size-adjust:initial;
    } 

    footer{
        padding: 5px;
    }

    .contenedor-mision{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh    8vh    20vh   20vh    22vh;
        grid-template-areas:
        "header"
        "section"
        "main"
        "aside"
        "footer";
    }

    .contenedor-adoptar{
        display:grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 35vh    1vh    75vh    15vh;
        grid-template-areas: 
        "header header"
        "section    section"
        "main   main"
        "footer footer";
    }

    .contenedor-transitar{
        display:grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 35vh    1vh    50vh    15vh;
        grid-template-areas: 
        "header header"
        "section    section"
        "main   main"
        "footer footer";
    }

    .fotos-caja-grande{
        display: flex;
        flex-direction:row;
        align-content:space-around;
        align-items: center;
        padding: 5px;
        text-align: end;
        font-size: 8px;
        img{
        height: 180px;
        width:150px;
        padding: 5px;
        align-content:space-around;
    }
}    

    .fotos-caja-chica   p{
        padding: 5px;
        text-align:right;
}

.contenedor-seccion2{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 35vh    1vh    170vh    15vh;
    flex-wrap: wrap;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}

.sec2-caja-grande{
    display: map-get($cont-small, display);
    flex-direction:column;
    align-content:space-around;
    align-items: center;
    padding: 5px;
    text-align: end;
    font-size: 8px;
}

.contenedor-publicar{
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh    5vh    100vh    30vh;
    flex-wrap: wrap;
    grid-template-areas: 
    "header header"
    "section    section"
    "main   main"
    "footer footer";
}
}

@media screen and (max-width: 900px){
    -mision-caja-chica{
        font-size: 100px;
    }
}

@media screen and (min-width:800px) and (max-width: 3000px){
        header  .li-nav {
         font-size: 20px;
        }

        .contenedor-mision{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 37vh    8vh    32vh   32vh    22vh;
            grid-template-areas:
            "header header"
            "section section"
            "main aside"
            "footer footer";
        }

        .contenedor-adoptar{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 38vh    1vh    140vh    15vh;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        }

        .contenedor-index{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    12vh    130vh    15vh;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   aside"
            "footer footer";
        }

        .contenedor-transitar{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    7vh    55vh    15vh;
            grid-template-areas:
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        } 

        .contenedor-publicar{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    5vh    100vh    30vh;
            flex-wrap: wrap;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        }

        .contenedor-seccion2{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: 40vh    5vh    100vh    15vh;
            flex-wrap: wrap;
            grid-template-areas: 
            "header header"
            "section    section"
            "main   main"
            "footer footer";
        }

        .fotos-caja-chica img{
            width: 200px;
            height: 250px;
        }

        .sec2-caja-grande{
            justify-content: center;
        }
    }